/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Titan+One&display=swap');
/* CSS RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* background */
  --light-bg: #DEDEDE;
  --dark-bg: #333;
  
  /* font color */
  --light-font-color: #000;
  --dark-font-color: #fff;

  /* ui background color */
  --dark-ui-bg: #212121;
  --light-ui-bg: #fff;
}


body {
  background-color: var(--bg);
  color: var(--font-color);
  font-family: "Source Code Pro", Arial;
}

h1, h2, h3, h4, h5 {
  font-family: "Titan One";
}



/* device specifics */

/* desktop only */
@media (min-width: 821px) and (max-width: 5000px) {

}

/* tablet only */
@media (min-width: 481px) and (max-width: 820px) {

}

/* mobile only */
@media (min-width: 320px) and (max-width: 480px) {
    
}


/* USER PREFERENCE BASE ON DEVICE SETTING */

@media (prefers-color-scheme: dark) {
  :root {
      --bg: var(--dark-bg);
      --font-color: var(--dark-font-color);
      --ui-background-color: var(--dark-ui-bg)
  }
}

@media (prefers-color-scheme: light) {
  :root {
      --bg: var(--light-bg);
      --font-color: var(--light-font-color);
      --ui-background-color: var(--light-ui-bg)
  }
}
